body {
  font-family: "Poiret One", "Times New Roman", sans-serif;
  color: #f7f1e3;
}

a {
  color: #f7f1e3;
}

.cont__ind_num a {
  color: #34ace0;
  font-weight: 900;
  text-decoration: underline;
}