@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* non-styles: */

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
  background-color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(60%, #40407a), color-stop(80%, #40407a), to(#000000)) no-repeat;
  background: -o-linear-gradient(top, #000000, #40407a 60%, #40407a 80%, #000000) no-repeat;
  background: linear-gradient(to bottom, #000000, #40407a 60%, #40407a 80%, #000000) no-repeat;
  background-attachment: fixed;
  font-size: 20px;
}

a {
  color: #f7f1e3;
}

.waves__wave {
  z-index: -1;
  top: 200px;
  position: fixed;
  width: 7000px;
  height: 218px;
  opacity: 0.03;
  background-image: url(../img/wave_top.png);
  background-repeat: repeat-x;
  -webkit-transform: scale(2, 1);
      -ms-transform: scale(2, 1);
          transform: scale(2, 1);
}

.waves__wave_0 {
  -webkit-animation: wave 11s ease-in-out -3s infinite alternate;
          animation: wave 11s ease-in-out -3s infinite alternate;
}

.waves__wave_1 {
  -webkit-animation: long-wave 23s ease-in-out 0s infinite alternate;
          animation: long-wave 23s ease-in-out 0s infinite alternate;
  -webkit-transform: scale(3, 1);
      -ms-transform: scale(3, 1);
          transform: scale(3, 1);
}

.waves__wave_2 {
  -webkit-animation: wave 36s linear -5s infinite alternate;
          animation: wave 36s linear -5s infinite alternate;
}

.waves__wave_reverse {
  -webkit-transform: scale(3, -1);
      -ms-transform: scale(3, -1);
          transform: scale(3, -1);
  margin-top: 218px;
}

.waves__wave_3 {
  -webkit-animation: long-wave 16s ease-in-out -7s infinite alternate;
          animation: long-wave 16s ease-in-out -7s infinite alternate;
}

.waves__wave_4 {
  -webkit-animation: wave 27s ease-in-out -2s infinite alternate;
          animation: wave 27s ease-in-out -2s infinite alternate;
  -webkit-transform: scale(2, -1);
      -ms-transform: scale(2, -1);
          transform: scale(2, -1);
}

.waves__wave_5 {
  -webkit-animation: long-wave 41s ease-in-out -11s infinite alternate;
          animation: long-wave 41s ease-in-out -11s infinite alternate;
}

@-webkit-keyframes wave {
  0% {
    left: 0;
  }

  100% {
    left: -3876px;
  }
}

@keyframes wave {
  0% {
    left: 0;
  }

  100% {
    left: -3876px;
  }
}

@-webkit-keyframes long-wave {
  0% {
    left: 0;
  }

  100% {
    left: -5814px;
  }
}

@keyframes long-wave {
  0% {
    left: 0;
  }

  100% {
    left: -5814px;
  }
}

.info {
  position: absolute;
  top: 0;
  width: 100vw;
  color: #000000;
  background-color: #ffda79;
  font-size: 16px;
}

.info a {
  color: red;
}

.menu {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  margin: 32px 2vw;
  font-size: 24px;
  background-color: #000000;
  padding: 15px;
}

.menu:hover > .nav {
  right: 0px;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: -270px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 100vh;
  font-size: 24px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

nav a {
  color: #f7f1e3;
}

nav ul {
  padding-top: 65px;
}

nav li {
  margin: 20px;
}

main {
  width: 1200px;
  max-width: 90vw;
  margin: 15vh auto 0 auto;
}

.title {
  font-variant: small-caps;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 40px 0 10px 0;
}

.title__icon {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
}

.title__txt {
  font-weight: bolder;
  font-size: 26px;
  margin-left: 20px;
}

.title__fe {
  color: #b33939;
  font-weight: normal;
  font-size: 22px;
}

.content {
  text-align: center;
  width: 800px;
  max-width: 90vw;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__block {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__icon {
  width: 70px;
  height: 70px;
  background-color: #aaa69d;
  border-radius: 10%;
  margin: 10px 10px;
}

.content__txt {
  font-variant: small-caps;
  margin: 10px 0;
}

.content__bla-bla-bla {
  max-width: 60vw;
}

.content3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.content3 .content__block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: auto;
}

.content5 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.content5 .content__block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: auto;
}

.content6 a {
  background-color: #b33939;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}

#mail {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

@media (handheld) {
  .menu {
    background-color: #fff;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  nav {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

@media (min-height: 768px) {
  .waves__wave {
    top: 500px;
  }
}